---
layout: style
---


a, a:hover, a:focus, a:active { color:#115fc4; }

.intro-lead-in a, .intro-lead-in a:hover, .intro-lead-in a:focus, .intro-lead-in a:active { color:#fec503; }

@media (min-width: 768px) {
	.intro-lead-in { font-size:30px; }
}


.timeline > li .timeline-image h4 a,.timeline > li .timeline-image h4 a:hover, .timeline > li .timeline-image h4 a:focus, .timeline > li .timeline-image h4 a:active { color:#fff !important; }
.timeline > li .timeline-panel { margin-top: 40px; }

#contact h3.section-subheading { color:#ccc; }
.asisto { text-align: right; }
.asisto p, .asisto div.radio, .asisto div.radio label { display: inline-block; padding-right:1em; }
#contact .fila2 .text-muted { color:#ccc; }