 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details social-buttons">
                                {% if post.twitter %}
                                <li><a href="{{ post.twitter }}"><i class="fa fa-twitter"></i> </a></li>
                                {% endif %}
                                {% if post.linkedin %}
                                <li><a href="{{ post.linkedin }}"><i class="fa fa-linkedin"></i> </a></li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    <div class="portfolio-modal modal fade" id="portfolioModal-legal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Información legal</h2>
                            <hr class="star-primary">
                            <p>En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999 de 13 de diciembre de protección de datos de carácter personal y en la Ley 34/2002 de Servicios de la Sociedad de la Información y Comercio Electrónico, la UNIVERSIDAD DE DEUSTO le informa de que los datos que se solicitan en el presente formulario, incluido el correo electrónico, se incorporarán a ficheros automatizados cuyo responsable y titular es la Universidad de Deusto.</p>
                            <p>Una vez incluidos sus datos en los ficheros, tendrá la facultad de ejercitar los derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus datos, mediante comunicación escrita que puede dirigir a la Unidad de Control Interno de la Universidad de Deusto, Avenida de las Universidades 24, (48007) Bilbao, o a través de comunicación electrónica a la dirección lopd@deusto.es. </p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>